{% extends 'admin/base_admin.html.twig' %}

{% block title %}Nouveau sujet{% endblock %}
{% block page_title %}Nouveau sujet{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card stretch stretch-full">
                <div class="card-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="mb-3">
                            {{ form_label(form.titre) }}
                            {{ form_widget(form.titre) }}
                            {{ form_errors(form.titre) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description) }}
                            {{ form_errors(form.description) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.isAnonymous) }}
                            {{ form_widget(form.isAnonymous) }}
                            {{ form_errors(form.isAnonymous) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.imageFile) }}
                            {{ form_widget(form.imageFile) }}
                            {{ form_errors(form.imageFile) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.isPinned) }}
                            {{ form_widget(form.isPinned) }}
                            {{ form_errors(form.isPinned) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.status) }}
                            {{ form_widget(form.status) }}
                            {{ form_errors(form.status) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.category) }}
                            {{ form_widget(form.category) }}
                            {{ form_errors(form.category) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.attachmentFile) }}
                            {{ form_widget(form.attachmentFile) }}
                            {{ form_errors(form.attachmentFile) }}
                        </div>
                        
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                            <a href="{{ path('sujet_forum_index') }}" class="btn btn-secondary ms-2">Retour</a>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
