{% extends 'admin/base_admin.html.twig' %}

{% block page_title %}Nouvel Evenement{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        {{ form_start(form) }}

        <div class="mb-3">
            {{ form_label(form.titre) }}
            {{ form_widget(form.titre) }}
            {{ form_errors(form.titre) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.dateEvent) }}
            {{ form_widget(form.dateEvent) }}
            {{ form_errors(form.dateEvent) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.lieu) }}
            {{ form_widget(form.lieu) }}
            {{ form_errors(form.lieu) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.capacite) }}
            {{ form_widget(form.capacite) }}
            {{ form_errors(form.capacite) }}
        </div>

        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
